@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #191921;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: #0b090a66;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}
